header {
    font-family: "Roboto", "Raleway", sans-serif;
}




body {
        font-family: "Roboto", "Raleway", sans-serif;
color: #2e2f42;
background-color: #fff;

}
.logo {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
}
.logo .logo-second-part {
    color: #2e2f42;

}
.nav-list {
    list-style: none;
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
}
.contacts {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        list-style: none;
}
.nav-list a {
    text-decoration: none;
    color: #2e2f42;

}
.contacts a {
    text-decoration: none;
    color:#434455;
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
