body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}
ul, ol {
    list-style:none;
}
a {
    text-decoration: none;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}
.header-logo .logo-part {
    color: #2e2f42;
}
.footer-logo .logo-part {
    color: #f4f4fd;
}
.nav-link {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
}
 .nav-link:hover,
 .nav-link:focus,
 .contacts-link:hover,
 .contacts-link:focus { 
    color: #404bbf;
    
}
  
.contacts {
    font-style:normal;
}
.contacts-link {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}


.main-title {
        font-weight: 700;
        font-size: 56px;
        line-height: 107%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;

}
.button-style {
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;  
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
}
.button-style:hover,
.button-style:focus {
    background: #404bbf;
}
.advantages-item {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;

}
.advantages-descr {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

.team-group {
    background-color:#fff; 
}
.team-member {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;

}
.team-descr {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
}
.portfolio-item {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}
.portfolio-descr {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
.page-footer {
    background-color:#2e2f42;
}
.footer-desrc {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
}